@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(s/poppins/v24/pxiEyp8kv8JHgFVrFJA-1.html) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s-1.html) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s-1.html) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s-1.html) format('truetype');
}
